{{- $date := .Date -}}
{{- with .Params.dateFormat -}}
  {{- $date | time.Format . -}}
{{- else -}}
  {{- with .Site.Params.dateFormat -}}
    {{- $date | time.Format . -}}
  {{- else -}}
    {{- $date | time.Format "2006-01-02" -}}
  {{- end -}}
{{- end -}}
{{- if .Params.updated -}}
  {{- $updated := .Params.updated -}}
  {{- " [Updated: " -}}
  {{- with .Params.dateFormat -}}
    {{- $updated | time.Format . -}}
  {{- else -}}
    {{- with .Site.Params.dateFormat -}}
      {{- $updated | time.Format . -}}
    {{- else -}}
      {{- $updated | time.Format "2006-01-02" -}}
    {{- end -}}
  {{- end -}}
  {{- "]" -}}
{{- end -}}
